<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<title>Eat-Da-Burger</title>
	
</head>

<body>
	<div class="container">
			<div id="burglogo">
				<img src= ../../assets/neon_burger.jpg>
			</div>
			<h1 class="titleColor">Eat-Da-Burger!</h1>
		</div>
		
	{{{ body }}}

	<script src="/assets/js/burgs.js"></script>
</body>

</html>