<div class= "row">
	<div class="col-md-6">
{{!-- Not Devoured --}}
	<h2>Pick a burger to eat!</h2>
			<ul class ="notDevour">
			{{#each burgers}}
				{{#unless devoured}}
				<li class= "burgOptions1">
					{{burger_name}}
					<button type="submit" class="btn btn-warning devBtn" data-id="{{id}}">Devour it!</button>
				</li>
				{{/unless}}
			{{/each}}
		</ul>
	</div>
{{!-- Devoured --}}
<div class="col-md-6">
	<h2>Devoured Burgers!</h2>
		<ul class ="Devour">
		{{#each burgers}}
			{{#if this.devoured}}
			<li class= "burgOptions2">
				{{burger_name}}
			</li>
			{{/if}}
		{{/each}}
		</ul>
	</div>
{{!-- Form --}}
<br>
<div>
	<h3 class="desColor"> Enter a burger you want to eat and click the submit button.</h3>
        <form class="create-form">>
			<input type="text" id="burger-input" class="form-control" placeholder="Enter a burger to devour">
            <button class="addBurg" type="input">Submit!</button>
        </form>
</div>
