body {
    background-color: #000000!important;
}

img {
    height: 300px;
    width: 375px;
    margin-top: 25px;
}

.titleColor {
    color: #cb4b38;
    font-family: 'Coda Caption', sans-serif;
    font-size: xxx-large;

}

h2{
    color:#acd889 ;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

li {
    padding: 5px;
    margin: 5px;
}

.desColor {
    color: #ffbe40;
    font-family: 'Roboto', sans-serif;
    float: right;
}

.notDevour{
    color: #ffffff ;
}

.Devour{
    color: #ffffff ;
}

#burger-input{
    outline:#ffbe40;
    outline-style: ridge;
    background-color: black;
    color: #ffbe40;
    font-family: 'Roboto', sans-serif;
}

.burgOptions1, .burgOptions2{
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.container2{
    margin-left: 750px;
}

