<div class= "row">
	<div class="col-md-6">


<ol class ="BurgList">
{{#each burgers}}
	{{#unless devoured}}
    <form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="delmovie">Devour It!</button>
    </p>
  </li>
  {{/each}}
</ol>

</div>
</div>